.SignInContainer{
    background-color: aliceblue;
    width: 20vw;
    display: block;
    height: 20vh;
    text-align: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.Login{
    text-align: left;
    font-size: 30px;
}
.SignInInner{
    width: 30vw;
    height: 30vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    text-align: center;
    margin-top: 280px;
    margin: auto;
}
.SignInInner > div{
    padding: 5px;
}
.SignInButton{
    font-size: 35px;
    border-radius: 10px;
}
.EmailInput{
    font-size: 30px;
    border-radius: 10px;
}